<!-- public/test.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Test WebView</title>
  </head>
  <body>
    <h1>Hello from WebView!</h1>
    <script>
      document.body.style.background = "#ffe";
      console.log("WebView test OK");
    </script>
  </body>
</html>
